@CHARSET "UTF-8";
body {
	background-color: #EEEEEE;
}


hr {
	height: 1px;
	border: none;
	border-top: 1px #000000 solid;
}

h1 {
	font-size: 3em;
	-webkit-margin-start: 1.0em;
}

h2 {

	font-size: 2.5em;
	-webkit-margin-start: 1.00em;

}
.errorMessages {
	-webkit-margin-start: 30.00em;
	color: red;
}

.error-area {
	color:red;
}

.copyright {
	text-align: center;
}

.comments > p {
	display: inline-block;
	background-color: #59d3f9;
	padding: 10px;
	min-width: 150px;
	text-align: center;
}

.comments > label {
	font-weight: bold;
}

.view-area > p {
	display: inline-block;
	background-color: #59d3f9;
	padding: 10px;
	min-width: 150px;
	text-align: center;
}

.view-area > label {
	font-weight: bold;
}

.message-area {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
    background-color: white;
}

.post-split {
	word-wrap: break-word;
	word-break: keep-all;
}

#register {
	border-radius: 0;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	border: 3px solid #f00;
	color: #111;
	padding: 10px 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2em;
	-webkit-margin-start: 13.00em;
}

#name-label {
	vertical-align: top;
}


.login_id  {
	text-align: center;
}

#password {
	text-align: center;
}

#loginId {
	width: 200px;
	height: 40px;
}

#Password {
	width: 200px;
	height: 40px;
}

#login_id_label {
	background-color: #59d3f9;
	padding: 11px;
}

#password_label {
	background-color: #59d3f9;
	padding: 12px;
}

#login_bottun {
	border-radius: 0;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	border: 3px solid #f00;
	color: #111;
	padding: 10px 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2em;
	-webkit-margin-start: 32.00em;
}

.signup {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	-webkit-margin-start: 35.00em;
	margin-right: 300px;
	margin-left: 300px;
}

.signup > form > label {
	display: inline-block;
	background-color: #59d3f9;
	padding: 10px;
	min-width: 150px;
	text-align: center;
}

.signup > form > input {
	width: 200px;
	height: 40px;
}

#SignUp {
    margin-left: 55px;
}

#SignUpBottun {
    border-radius: 0;
    background: -moz-linear-gradient(top, #FFF 0%, #EEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    border: 3px solid #f00;
    color: #111;
    padding: 2px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.2em;
    -webkit-margin-start: 10.00em;

}
#SignUpBottun:hover {
    background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
}

.edit {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	-webkit-margin-start: 35.00em;
	margin-right: 300px;
	margin-left: 300px;
}

.edit > form > label {
	display: inline-block;
	background-color: #59d3f9;
	padding: 10px;
	min-width: 150px;
	text-align: center;
}

.edit > form > input {
	width: 200px;
	height: 40px;
}

#edit {
	margin-left: 80px;
}

.new-posts {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	-webkit-margin-start: 35.00em;
	margin-right: 250px;
	margin-left: 250px;
}

#update-bottun {
	border-radius: 0;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	border: 3px solid #f00;
	color: #111;
	padding: 2px 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2em;
	-webkit-margin-start: 10.00em;
}
#update-bottun:hover {
    background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
}

#return-manage {
	 margin-left: 0.00em;
}

.posts >  h2 {
	font-size: 2.5em;
	-webkit-margin-start: 14.00em;
}

#text {
	-webkit-margin-start: 4.0em;
}

#text.main-box {
	margin-left: 0px;
}
form > label {
	vertical-align: top;
}

.new-posts > form > label {
	vertical-align: top;
	display: inline-block;
	background-color: #59d3f9;
	padding: 10px;
	min-width: 150px;
	text-align: center;
}

.new-posts > form > input {
	width: 200px;
	height: 40px;
}

input.postBottun {
	border-radius: 0;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	border: 3px solid #f00;
	color: #111;
	padding: 10px 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2em;
	-webkit-margin-start: 18.00em;

}
input.postBottun:hover {
	background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
}

#userInfo > ul {
	list-style-type: none; /*箇条書きのポッチを消す*/

  }

#userInfo > ul > li {
	display: inline-block; /*inline-blockにします*/
	min-width: 150px;
	height: 40px; /*高さも指定できる*/
	padding: ;/*余白も指定できる*/
	margin: ;/*余白も指定できる*/
	vertical-align: left; /*縦の表示位置も指定できる*/
}

#login-id {
	font-weight: bold;
}

#name {
	font-weight: bold;
}

#branch {
	font-weight: bold;
}

#position {
	font-weight: bold;/*文字を太字に*/
}

#account-stop {
	padding: 0.5em 1em;
	background: linear-gradient(to right, #ff0404 , #ff0404);
	color: #FFF;
	margin-right: 10px;
	margin-left: 50px;
}

#account-move {
	padding: 0.5em 1em;
	background: linear-gradient(to right, #7082ff, #7082ff);
	color: #FFF;
	margin-right: 10px;
	margin-left: 50px;
}

.userInfo > a {
	position: relative;
	bottom: 0px;
	right: -90px;
	width: 50px;
	height: 50px;
	opacity: 0.5;
}
